In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the cities.csv file into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Valparaiso,CL,2021-11-26 23:20:58,-33.0393,-71.6273,62.83,77,20,4.61
1,1,Coquimbo,CL,2021-11-26 23:16:16,-29.9533,-71.3436,62.33,72,75,10.36
2,2,Puerto Ayora,EC,2021-11-26 23:19:51,-0.7393,-90.3518,70.03,80,69,11.90
3,3,Marzuq,YE,2021-11-26 23:20:59,14.4000,46.4667,67.37,46,5,2.21
4,4,Jamestown,US,2021-11-26 23:21:00,42.0970,-79.2353,31.59,93,90,20.71

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]

# temps = []

# # In the for loop, we're using the max() function to get the largest value between the 
# # temp and 0. If the temp is less than 0, then 0 will be added to the list in its place. 
# # Otherwise, the temp is added to the list.
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp,0) for temp in max_temp])

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))