In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the cities.csv file into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Valparaiso,CL,2021-11-26 23:20:58,-33.0393,-71.6273,62.83,77,20,4.61
1,1,Coquimbo,CL,2021-11-26 23:16:16,-29.9533,-71.3436,62.33,72,75,10.36
2,2,Puerto Ayora,EC,2021-11-26 23:19:51,-0.7393,-90.3518,70.03,80,69,11.90
3,3,Marzuq,YE,2021-11-26 23:20:59,14.4000,46.4667,67.37,46,5,2.21
4,4,Jamestown,US,2021-11-26 23:21:00,42.0970,-79.2353,31.59,93,90,20.71

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]

# temps = []

# # In the for loop, we're using the max() function to get the largest value between the 
# # temp and 0. If the temp is less than 0, then 0 will be added to the list in its place. 
# # Otherwise, the temp is added to the list.
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [22]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the percent humidity.
humidity = city_data_df["Humidity"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the percent humidity.
clouds = city_data_df["Cloudiness"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of wind speed

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the percent humidity.
wind = city_data_df["Wind Speed"]

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                       (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Sena Madureira,BR,2021-11-26 23:21:02,-9.0656,-68.6569,83.37,63,85,2.75
19,19,San Pedro De Ycuamandiyu,PY,2021-11-26 23:21:07,-24.0917,-57.0764,78.96,41,0,5.66
23,23,Vaini,TO,2021-11-26 23:21:09,-21.2000,-175.2000,84.36,89,75,9.22
24,24,Tonj,SS,2021-11-26 23:21:10,7.2737,28.6822,80.89,25,86,3.96
25,25,Moussoro,TD,2021-11-26 23:21:10,13.6408,16.4901,76.73,10,0,11.12
35,35,Rikitea,PF,2021-11-26 23:21:16,-23.1203,-134.9692,76.32,71,99,14.99
36,36,Avarua,CK,2021-11-26 23:21:16,-21.2078,-159.7750,82.45,83,20,5.75
49,49,Atuona,PF,2021-11-26 23:22:21,-9.8000,-139.0333,79.02,75,8,17.54
51,51,Georgetown,MY,2021-11-26 23:17:48,5.4112,100.3354,76.95,88,20,0.00
52,52,Samarai,PG,2021-11-26 23:22:22,-10.6167,150.6667,83.79,72,94,6.53

In [37]:
# Determine if there are any null values in preferred_cities_df.
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

Consider the following guidance:

1. Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.

2. It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.


3. If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

In [38]:
# Create DataFrame called hotel_df to store hotel names by making a copy of
# preferred_cities_df and including only columns city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
6             Sena Madureira      BR     83.37  -9.0656  -68.6569
19  San Pedro De Ycuamandiyu      PY     78.96 -24.0917  -57.0764
23                     Vaini      TO     84.36 -21.2000 -175.2000
24                      Tonj      SS     80.89   7.2737   28.6822
25                  Moussoro      TD     76.73  13.6408   16.4901
35                   Rikitea      PF     76.32 -23.1203 -134.9692
36                    Avarua      CK     82.45 -21.2078 -159.7750
49                    Atuona      PF     79.02  -9.8000 -139.0333
51                Georgetown      MY     76.95   5.4112  100.3354
52                   Samarai      PG     83.79 -10.6167  150.6667

In [42]:
# Set parameters to search for a hotel.
params = {'radius': 5000,
          'type': 'lodging',
          'key': g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Sena Madureira,BR,83.37,-9.0656,-68.6569,Hotel Central
19,San Pedro De Ycuamandiyu,PY,78.96,-24.0917,-57.0764,Hotel Refugio
23,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
24,Tonj,SS,80.89,7.2737,28.6822,Lakan Hotel
25,Moussoro,TD,76.73,13.6408,16.4901,Hôtel Salama
35,Rikitea,PF,76.32,-23.1203,-134.9692,People ThankYou
36,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
49,Atuona,PF,79.02,-9.8000,-139.0333,Villa Enata
51,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
52,Samarai,PG,83.79,-10.6167,150.6667,Nuli Sapi

In [50]:
# Add a pop-up marker for each city that displays the hotel name, city name,
# country, and maximum temperature.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
# Iterate through each row of hotel_df and format the info_box_template with the data
# set to populate from each row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat', 'Lng']]

max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))